/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/* Login Page CSS */

.loginPage {
    background-image: url('res://background_login');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titleLogin {
    font-size: 24;
    color: rgb(221, 221, 221);
    margin-top: 30vh;
}

.normalTextLogin {
    color: rgb(221, 221, 221);
    margin-bottom: 50vh;
}

.loginInputField {
    width: 80%;
    border-bottom-width: 0.75;
    border-color: rgb(221, 221, 221);
    placeholder-color: rgba(240, 240, 240, 0.63);
    text-align: center;
}

.loginBtn {
    background-color: #FF8C28;
    color: #f2f2f2;
    font-size: 24;
    height: 64;
}

.altLoginBtn {
    background-color: #f2f2f2;
    color: black;
    border-radius: 50%;
    word-wrap: break-word;
    font-size: 12;
    height: 70;
    width: 70;
}

.headerLogo {
    margin-top: 40;
    width: 160;
    height: 50;
}

/* Account Creation */
.headerLogoCreateAccount {
    margin-top: 40;
    width: 60;
    height: 30;
}

.genderOption {
    color: white;
    font-weight: bold;
    font-size: 16;
    border-width: 2;
    width: 120;
    text-align: center;
}

.maleOption {
    margin-right: 5;
    border-color: #4B87A8;
}

.femaleOption {
    margin-left: 5;
    border-color: #E56DC5;
}

/* Vehicle add css */

.dropdownVehicle {
    background-color: #4281A4;
    border-top-width: 1;
    border-bottom-width: 1;
    border-color: white;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24;
}






/* Not labeled yet */

.navbarIcon {
    border-right-width: 1px;
    border-color: rgb(32, 32, 32);
    height: 60vh;
}

.create-trail-modal {
    background-color: rgba(217, 217, 217, 0.863);
    border-radius: 15%;
    border-bottom-right-radius: 0;
}

.create-trail-modal-button {
    background-color: #FF8C28;
    color: #FFFFFF;
    margin-bottom: 20;
    border-radius: 5;
    width: 95%;
    height: 50vh;
    border-width: 0;
}

.create-trail-modal-label {
    text-align: center;
    font-size: 24;

    margin-top: 8;
    margin-bottom: 0;
}

.light {
    font-size: 18;
    margin-top: 0;
    margin-bottom: 4;
}

.create-trail-popup-toggle {
    margin-bottom: 54vh;
    background-color: rgba(217, 217, 217, 0.863);
    z-index: 10;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 52ppi;
    height: 52ppi;
}

.centerText {
    background-color: #f2f2f2;
    opacity: 0.9;
    text-align: center;
    font-size: 18;
}

.endTrailPage {
    background-color: #f2f2f2;
}

.titleLabel {
    font-size: 24;
    color: black;
    margin-top: 30vh;
}

.inputField {
    width: 80%;
    border-bottom-width: 0.75;
    placeholder-color: rgba(0, 0, 0, 0.4);
}

.textLbl {
    margin-left: 10%;
    margin-top: 40vh;
    font-size: 20;
    color: black;
}

.textLblChild {
    margin-left: 10%;
    font-size: 18;
    color: #4281A4;
}

.confirmTrailBtn {
    background-color: #4281A4;
    color: #f2f2f2;
    width: 180vw;
    font-size: 16;
    border-radius: 10%;
    margin-bottom: 60vh;
    margin-right: 18vw;
    font-weight: bold;
}

.discardTrailBtn {
    background-color: #db4437;
    color: #f2f2f2;
    width: 180vw;
    font-size: 16;
    border-radius: 10%;
    margin-bottom: 60vh;
    margin-left: 18vw;
    font-weight: bold;
}

.tempIconBtn {
    border-radius: 100%;
    background-color: white;
    width: 64vw;
    height: 64vw;
}

.addTrailIconPopup {
    background-color: rgb(253, 253, 253);
    margin-bottom: 65vh;
    height: 300vh;
}

.trailNotesTitle {
    text-align: center;
    color: #FF8C28;
    font-size: 24;
    font-weight: bold;
}

.trailNotesBtn {
    border-width: 1;
    border-color: rgba(158, 158, 158, 0.472);
}

.middleBtn {
    border-left-width: 0;
    border-right-width: 0;
}

.bottomRow {
    border-top-width: 0;
}

/* This is probably not the best way to do it, but eh */
.baseLblDefault {
    color: white;
    width: 100vw;
    height: 50vh;
    padding-top: 12;
}

.paidLblDefault {
    background-color: #58b858;
}

.freeLblDefault {
    background-color: #6295b1;
}

.unknownLblDefault {
    background-color: #ff8c28;
}

.lblSelected {
    border-bottom-width: 4;
    border-bottom-color: black;
}

.trailInfo {
    background-image: url('~/images/background_trail.png');
    background-repeat: no-repeat;
    background-color: #4281A4;
    background-size: cover;
    background-position: center;
    margin-top: 10;
}

.trailName {
    color: white;
    font-size: 18;
    font-weight: bold;
    margin-left: 6;
}

.trailDifficultyLbl {
    color: white;
    font-weight: bold;
    background-color: #4281A4;
    margin-bottom: 12;
    width: 80;
    text-align: center;
    margin-left: 6;
}

.trailRating {
    margin-left: 6;
    height: 18;
    margin-top: 4;
    margin-bottom: 6;
}

.searchBar {
    background-color: #ffffff;
    color: black;
    font-size: 12;
    border-color: rgba(148, 148, 148, 0.534);
    border-width: 1;
    border-radius: 5;
}

.settingsButton {
    background-color: #FF8C28;
    color: white;
    border-radius: 5;
    border-width: 0;
    width: 50;
}